.App {
  text-align: center;
  background-color: #03045E;
  background-size: cover;
  position: fixed;
  min-width: 100%;
  min-height: 50%;
  background-position: center;
}

.main {
  min-height: 100vh;
  font-family: 'Merriweather', serif;
  color: #90E0EF;
}

#title {
  color: #F5F5F5;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: .5rem;
  padding-top: 111px;
  font-size: 111px;
}

.list-group {
  color: #101935;
  font-family: "Georgia";
  font-size: 28px;
}

.nav-link {
  color: #C9B1BD;
  background: #03045E;
  font-family: 'Abril Fatface', cursive;
  font-size: 22px;
}

/* .link-item {
  color: #F5F5F5;
  font-size: 19px;
} */

#about-me {
  color: #81DCEE;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  line-height: 1.7;
  word-spacing: 4px;
  letter-spacing: .1rem;
}

img {
  height: 275px;
  width: 225px;
}